*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.hide {
    display: none;
}
.carGame{
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 112, 12);

}

.car , .enemy  {
    width: 50px;
    height: 80px;
    background-color: 2d3436;
    position: absolute;
    bottom: 120px;
    background-image: url("./images/1.png");
    /* background-color: rgb(156, 103, 4); */
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.enemy{
    width: 50px;
    height: 70px;
    /* background-color: rgb(235, 220, 12); */
    position: absolute;
    background-image: url("./images/2.png");
    background-color: 2d3436;

    bottom: 120px;

}
.gameArea {
    width: 400px;
    height: 100vh;
    background-color: #2d3436;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-right: 7px dashed #c8d6e5;
    border-left: 7px dashed #c8d6e5 ;
}
.lines {
    width: 10px;
    height: 100px;
    background-color: white;
    position: absolute;
    margin-left: 195px;
    
}
.score{
    position: absolute;
    top: 15px;
    left: 20px;
    /* background-color: #10ac84;    */
     background-color: #000c09;
    width: 300px;
    /* height: 70px; */
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    box-shadow: 0 5px 5px #777;
}
.startScreen{
    position: absolute;
    background-color: #ee5253;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 1;
    text-align: center;
    border: 1px solid #ff6b6b;
    padding: 15px;
    margin: auto;
    width: 50%;
    cursor: pointer;
    letter-spacing: 5;
    font-size: 20px;
    word-spacing: 3;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777 ;
}
